.nav-bar {
    background-color: aqua;
    min-height: 70px;
}

.flex-container {
    display: flex;
    align-items: center;
}

.time-container {
    margin-left: auto;
    text-align: right;
}

.right-content {
    display: flex;
    align-items: center;
}

h6 {
    margin: 0;
    margin-right: 20px;
}

svg {
    width: 16px;
    height: 16px;
    margin-right: 10px;
}

p {
    margin: 0;
}
